<!doctype html>
<html>
<head>
    <title>Add a new Student</title>
</head>

<body>
  
  <form action="/student-add" method="POST">
    <label>Please enter your github account:</label>
          <input type="text" name="github">
    <label>First Name:</label>    
          <input type="text" name="first_name">
    <label>Last Name:</label>    

          <input type="text" name="last_name">
    
    <input type="submit" value="Display Student">
  </form>

  <!--  <h1>{{ first_name }} {{ last_name }}</h1>

  <p>GitHub Account: {{ github }}</p> -->

  

</body>
</html>